    <div class='container' ng-controller="NewBookController" id="newbookctrl">
    <div class='row'>
      <div class='col-xs-12'>
        <div class="form-group">
        <label for="authorName">Book Name</label>
        <input type="text" id="authorName" class="form-control" data-ng-model="book.name" />
        </div>
        <div class="form-group">
        <label for="title">Author</label>
        <input type="text" id="title" class="form-control" data-ng-model="book.author" />
        </div>
        <div class="form-group">
        <label for="keyword">Edition</label>
        <input type="text" id="keyword" class="form-control" data-ng-model="book.edition" />
        </div>
        <div class="form-group">
        <label for="keyword">ISBN</label>
        <input type="text" id="isbn" class="form-control" data-ng-model="book.isbn" />
        </div>
        <div class="form-group">
        <label for="keyword">Price</label>
        <input type="text" id="price" class="form-control" data-ng-model="book.price" />
        </div>
        <div class="form-group">
        <button class="btn-btn-primary" data-ng-click="save()">Save</button>
        <button class="btn-btn-primary" data-ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </div>
</div>