<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ngX</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="./index.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!-- Latest compiled and minified JavaScript angular routes -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <!-- Angular UI router-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <!-- app brain -->
    <script src="./app.js"></script>
  </head>
  <body ng-app="mainApp">
    
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarCtrl">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span><img src="./assets/images/bt2.png" height="28" width="auto" aline='middle'></img></span> Chalupa Batman</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <li ng-click="setIndex(0)" ng-class="(index==0) ? 'active' : ''"><a href="#/login">Login</a></li>
        <li ng-click="setIndex(1)" ng-class="(index==1) ? 'active' : ''"><a href="#/register">Register</a></li>
        <li ng-click="setIndex(2)" ng-class="(index==2) ? 'active' : ''"><a href="#/profile/0">Profile</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <ui-view></ui-view>

    <script type="text/ng-template" id ='home.html'>
      <!-- home -->
      <div id="options">
        <div class='container-fluid' ng-controller="searchCtrl">
          <div class='row'>
            <div class='col-xs-12 col-sm-2'>
              <select class="form-control input-sm search-select" 
                  data-toggle="dropdown" 
                  ng-model="selectedUniversity"
                  ng-options="university.name for university in universities" 
                  ng-change="universityChanged()">
              </select>
            </div>
            <div class='col-xs-12 col-sm-2'>
              <select class="form-control input-sm search-select" 
                  ng-model="selectedDepartment" 
                  ng-options="Department.name for Department in departments" 
                  ng-change="departmentChanged()">
              </select>
            </div>
            <div class='col-xs-12 col-sm-2'>
              <select class="form-control input-sm search-select" 
                  ng-model="selectedCourse" 
                  ng-options="course.name for course in courses" 
                  ng-change="courseChanged()">
              </select>
            </div>
            <div class='col-xs-12 col-sm-3 col-sm-offset-1'>
              <input type="text" class="form-control input-sm search-select" placeholder="Search">
            </div>
            <div class='col-xs-12 col-sm-2'>
              <select class="form-control input-sm search-select" 
                  ng-model="selectedSortOption" 
                  ng-options="option.name for option in sortOptions track by option.id" 
                  ng-change="sortOrder()">
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <!-- collection -->
      <div class='container' ng-controller="booksIndexCtrl" id='bookCollection'>
        <div class='row'>
        
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3' ng-repeat="book in books | orderBy:books_order_by">
          <div class="thumbnail">
          <img src="http://placehold.it/320x150" alt="">
          <div class="caption">
            <h4 class="pull-right">{{book.price}}</h4>
            <h4><a href="#/book/{{$index}}">{{book.name}}</a></h4>
            <div class="ratings">
            <h4>Owners Score</h4>
            <p class="pull-right">{{book.numberOfReviews}} reviews</p>
            <p>
              <span class="glyphicon glyphicon-star" ng-repeat="i in getStars(book.ownersRating) track by $index"></span>
              <span class="glyphicon glyphicon-star-empty" ng-repeat="i in getEmptyStars(book.ownersRating) track by $index"></span>
            </p>
            </div>
          </div>
          </div>
        </div>
        
        </div>
      </div>
    </script>

   <script type="text/ng-template" id="book.html">

      <div class='container' ng-controller="StoreController as store">
        <div class='row'>
          <div class='col-xs-12'>
            <!--  Store Header  -->
            <header>
              <h1 class="text-center">The Book</h1>
              {{store.pooh}}
            </header>
    
            <!--  Products Container  -->
            <div class="list-group">
              <!--  Product Container  -->
              <div class="list-group-item" >
                <h3>{{store.product.name}} <em class="pull-right">{{store.product.price | currency}}</em></h3>
    
                <!-- Image Gallery  -->
                <div ng-controller="GalleryController as gallery"  ng-show="store.product.images.length"  align="center">
                  <div class="img-wrap">
                    <img ng-src="{{store.product.images[gallery.current]}}" height ="300"/>
                  </div>
                  <ul class="img-thumbnails clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in store.product.images">
                      <img ng-src="{{image}}"  height="50" width = "50"/>
                    </li>
                  </ul>
                </div>
    
                <!-- Product Tabs  -->
                <section ng-controller="TabController as tab">
                  <ul class="nav nav-pills">
                    <li ng-class="{ active:tab.isSet(1) }">
                      <a href ng-click="tab.setTab(1)">Description</a>
                    </li>
                    <li ng-class="{ active:tab.isSet(2) }">
                      <a href ng-click="tab.setTab(2)">Specs</a>
                    </li>
                    <li ng-class="{ active:tab.isSet(3) }">
                      <a href ng-click="tab.setTab(3)">Reviews</a>
                    </li>
                  </ul>
    
                  <!--  Description Tabs Content  -->
                  <div ng-show="tab.isSet(1)">
                    <h4>Description</h4>
                    <blockquote>{{store.product.description}}</blockquote>
                  </div>
    
                  <!--  Spec Tabs Content  -->
                  <div ng-show="tab.isSet(2)">
                    <h4>Specs</h4>
                    <blockquote>Author: {{store.product.author}}</blockquote>
                    <blockquote>ISBN: {{store.product.isbn}}</blockquote>
                    <blockquote>Edition: {{store.product.edition}}</blockquote>
                    <blockquote>Price: {{store.product.price | currency}}</blockquote>
    
    
    
                  </div>
    
                  <!--  Review Tabs Content  -->
                  <div ng-show="tab.isSet(3)">
                    <!--  Product Reviews List -->
                    <ul>
                      <h4>Reviews</h4>
                      <li ng-repeat="review in store.product.reviews">
                        <blockquote>
                          <strong>{{review.stars}} Stars</strong>
                          {{review.body}}
                          <cite class="clearfix">{{review.author}}</cite>
                        </blockquote>
                      </li>
                    </ul>
    
                    <!--  Review Form -->
                    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(store.product)">
    
                      <!--  Live Preview -->
                      <blockquote >
                        <strong>{{reviewCtrl.review.stars}} Stars</strong>
                        {{reviewCtrl.review.body}}
                        <cite class="clearfix">{{reviewCtrl.review.author}}</cite>
                      </blockquote>
    
                      <!--  Review Form -->
                      <h4>Submit a Review</h4>
                      <fieldset class="form-group">
                        <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                          <option value>Rate the Product</option>
                        </select>
                      </fieldset>
                      <fieldset class="form-group">
                        <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                      </fieldset>
                      <fieldset class="form-group">
                        <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
                      </fieldset>
                      <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                      </fieldset>
                    </form>
                  </div>
    
                </section>
              </div>
    
            </div>
          </div>
        </div>
      </div>
   </script> 
   <script  type="text/ng-template" id ='profile.html'>
    <div class='container' ng-controller="ProfileController">
      <div class='row'>
        <div class='col-xs-12'>
          <div class="row">
          <br>
          <div>
            <strong>Username:</strong>
            <div click-to-edit="user.username"></div>
          </div>
          <div>
            <strong>First Name:</strong>
            <div click-to-edit="user.firstname"></div>
          </div>
          <div>
            <strong>Last Name:</strong>
            <div click-to-edit="user.lastname"></div>
          </div>
          <div>
            <strong>E-Mail:</strong>
            <div click-to-edit="user.email"></div>
          </div>
          <div>
            <strong>Phone:</strong>
            <div click-to-edit="user.phone"></div>
          </div>
          <br>
          </div>
          
          <table>
          <tbody>
            <tr>
              <th>Book Title</th>
              <th>Edition</th>
              <th>Author</th>
              <th>ISBN</th>
              <th>Price</th>
              <th></th>
            </tr>
            <tr data-ng-repeat="book in data">
              <td><div click-to-edit="book.name"></div></td>
              <td><div click-to-edit="book.edition"></div></td>
              <td><div click-to-edit="book.author"></div></td>
              <td><div click-to-edit="book.isbn"></div></td>
              <td><div click-to-edit="book.price"></div></td>
              <td><button class="glyphicon glyphicon-remove" ng-click="removeBook($index)"></button></td>
            </tr>
          </tbody>
          </table>
          <div>
          <form action="#/new_book">
            <button data-ng-click="addBook()" class="btn btn-default" type="button">Add Book</button>
          </form>
          </div>
          </div>
        </div>
      </div>
   </script>
   
   <script  type="text/ng-template" id ='newBook.html'>
       <div class='container' ng-controller="NewBookController">
        <div class='row'>
          <div class='col-xs-12'>
            <div class="form-group">
            <label for="authorName">Book Name</label>
            <input type="text" id="authorName" class="form-control" data-ng-model="book.name" />
            </div>
            <div class="form-group">
            <label for="title">Author</label>
            <input type="text" id="title" class="form-control" data-ng-model="book.author" />
            </div>
            <div class="form-group">
            <label for="keyword">Edition</label>
            <input type="text" id="keyword" class="form-control" data-ng-model="book.edition" />
            </div>
            <div class="form-group">
            <label for="keyword">ISBN</label>
            <input type="text" id="isbn" class="form-control" data-ng-model="book.isbn" />
            </div>
            <div class="form-group">
            <label for="keyword">Price</label>
            <input type="text" id="price" class="form-control" data-ng-model="book.price" />
            </div>
            <div class="form-group">
            <button class="btn-btn-primary" data-ng-click="save()">Save</button>
            <button class="btn-btn-primary" data-ng-click="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
   </script>
   
  </body>
</html>