<div class='container' ng-controller="StoreController as store" id="book">
  <div class='row'>
    <div class='col-xs-12'>
      <!--  Store Header  -->
      <header>
        <h1 class="text-center">The Book</h1>
      </header>

      <!--  Products Container  -->
      <div class="list-group">
        <!--  Product Container  -->
        <div class="list-group-item" >
          <h3>{{store.product.name}} <em class="pull-right">{{store.product.price | currency}}</em></h3>

          <!-- Image Gallery  -->
          <div ng-controller="GalleryController as gallery" align="center">
            <div class="img-wrap">
              <img src="http://covers.openlibrary.org/b/isbn/{{store.product.isbn}}-M.jpg?default=http://i.imgur.com/roz46zM.png" height = "200"/>
            </div>
            <ul class="img-thumbnails clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in store.product.images">
                <img ng-src="{{image}}"  height="50" width = "50"/>
              </li>
            </ul>
          </div>

          <!-- Product Tabs  -->
          <section ng-controller="TabController as tab">
            <ul class="nav nav-pills">
              <li ng-class="{ active:tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Description</a>
              </li>
              <li ng-class="{ active:tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">Specs</a>
              </li>
              <li ng-class="{ active:tab.isSet(3) }">
                <a href ng-click="tab.setTab(3)">Seller Reviews</a>
              </li>
            </ul>

            <!--  Description Tabs Content  -->
            <div ng-show="tab.isSet(1)">
              <h4>Description</h4>
              <blockquote>{{store.product.description}}</blockquote>
            </div>

            <!--  Spec Tabs Content  -->
            <div ng-show="tab.isSet(2)">
              <h4>Specs</h4>
              <blockquote>Author: {{store.product.author}}</blockquote>
              <blockquote>ISBN: {{store.product.isbn}}</blockquote>
              <blockquote>Edition: {{store.product.edition}}</blockquote>
              <blockquote>Price: {{store.product.price | currency}}</blockquote>
            </div>

            <!--  Review Tabs Content  -->
            <div ng-show="tab.isSet(3)">
              <!--  Product Reviews List -->
              <ul>
                <h4>Preview:</h4>
                <li ng-repeat="review in store.product.reviews">
                  <blockquote>
                    <strong>{{review.stars}} Stars</strong>
                    {{review.body}}
                    <cite class="clearfix">{{review.author}}</cite>
                  </blockquote>
                </li>
              </ul>

              <!--  Review Form -->
              <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(store.product)">

                <!--  Live Preview -->
                <blockquote >
                  <strong>{{reviewCtrl.review.stars}} Stars</strong>
                  {{reviewCtrl.review.body}}
                  <cite class="clearfix">{{reviewCtrl.review.author}}</cite>
                </blockquote>

                <!--  Review Form -->
                <h4>Submit a Review</h4>
                <fieldset class="form-group">
                  <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                    <option value>Rate the Seller</option>
                  </select>
                </fieldset>
                <fieldset class="form-group">
                  <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                </fieldset>
              </form>

              <!-- Displaying reviews for seller-->
              <ul ng-controller="revCtrl">
                <h4>User Reviews:</h4>
               <li ng-repeat="review in reviews">
                 
                 <div><strong>By {{review[0]}}:</strong>
                  <blockquote>
                    <em>{{review[1]}}</em>
                   
                    <!-- <cite class="clearfix"></cite> -->
                  </blockquote>
                 </div>
                </li>
              </ul>


            </div>

          </section>
        </div>

      </div>
    </div>
  </div>
</div>
