body {
  background-image: url("http://i.imgur.com/NzFNSVR.jpg");
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
}
#options{
	position: fixed;
	z-index: 1;
	top: 50px;

	padding-top: 10px;
	padding-bottom: 0px;

	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(133, 94, 66, 0.8);
}
#options .row{
	margin-bottom: 10px;
}
@media all and (max-width: 768px){
	#options{
		position: relative;
	}
	#options .search-select{
		margin-bottom: 10px;
	}
}
#bookCollection{
	margin-top: 110px;
}
select{
  background-color: hsl(201, 100%, 40%) !important;
	border-radius: 1px;
	border-color: #0084cc hsl(201, 100%, 40%) !important;
	color: white !important;
	font-weight: bold !important;
}


#profilectrl{
	margin-top: 60px;
}

#book{
  margin-top: 60px;
}

textarea { 
  resize:vertical; 
}
.form-group{
  margin-bottom: 8px;
}


